<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Блог</title>
</head>
<body>
    <h1>Опубликованные сообщения</h1>
    <ul>
        {% for article in articles %}
            <li>
                <a href="{% url 'blog:article_detail' article.pk %}">{{ article.title }}</a>
                <small>Published on {{ article.created_at|date:"F j, Y" }}</small>
            </li>
        {% empty %}
            <li>Нет сообщений</li>
        {% endfor %}
    </ul>
</body>
</html>
