{% extends "catalog/base.html" %}

{% block content %}
<h1>Продукты по категориям</h1>

    <div>
        <h2>Выберите категорию</h2>
        <ul>
            {% for category in categories %}
                <li><a href="{% url 'catalog:product_list_by_category' category_id=category.id %}">{{ category.category_name }}</a></li>
            {% endfor %}
        </ul>
    </div>

    <h2>Список продуктов в категории {{ category.category_name }}</h2>
    <div class="row">
    {% for product in products %}
        <div class="col-md-4 mb-4">
            <div class="card h-100 shadow-sm" >
                {% if product.product_image %}
                    <img src="{{ product.product_image.url }}" alt="{{ product.product_name }}"
                         style="width:300px; height:200px; object-fit:cover;"
                         class="card-img-top product-image mx-auto d-block mt-3"
                    >
                {% endif %}
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title text-center">{{ product.product_name }}</h5>
                    <p class="card-text flex-grow-1">{{ product.product_description|truncatechars:100 }}</p>
                    <p class="card-text text-center"><strong>Цена: </strong>{{ product.purchase_price }} ₽</p>
                    <a href="{% url 'catalog:product_detail' product.pk %}" class="btn btn-primary mt-auto">Подробнее</a>
                </div>
            </div>
        </div>
    {% empty %}
        <p>Товары отсутствуют.</p>
    {% endfor %}
</div>
<nav aria-label="Page navigation example">
  <ul class="pagination justify-content-center">
    {% if page_obj.has_previous %}
      <li class="page-item">
        <a class="page-link" href="?page=1" aria-label="Первая">
          <span aria-hidden="true">&laquo;&laquo;</span>
        </a>
      </li>
      <li class="page-item">
        <a class="page-link" href="?page={{ page_obj.previous_page_number }}" aria-label="Предыдущая">
          <span aria-hidden="true">&laquo;</span>
        </a>
      </li>
    {% else %}
      <li class="page-item disabled">
        <span class="page-link">&laquo;&laquo;</span>
      </li>
      <li class="page-item disabled">
        <span class="page-link">&laquo;</span>
      </li>
    {% endif %}

    <li class="page-item disabled">
      <span class="page-link">
        Страница {{ page_obj.number }} из {{ page_obj.paginator.num_pages }}
      </span>
    </li>

    {% if page_obj.has_next %}
      <li class="page-item">
        <a class="page-link" href="?page={{ page_obj.next_page_number }}" aria-label="Следующая">
          <span aria-hidden="true">&raquo;</span>
        </a>
      </li>
      <li class="page-item">
        <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}" aria-label="Последняя">
          <span aria-hidden="true">&raquo;&raquo;</span>
        </a>
      </li>
    {% else %}
      <li class="page-item disabled">
        <span class="page-link">&raquo;</span>
      </li>
      <li class="page-item disabled">
        <span class="page-link">&raquo;&raquo;</span>
      </li>
    {% endif %}
  </ul>
</nav>

    <a href="{% url 'catalog:home' %}">Вернуться на главную страницу</a>
{% endblock %}
